<!DOCTYPE html>
<HTML>
    <HEAD>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </HEAD> 
    <BODY>
        <H1 style="color:#FFFFFF; font-style: italic;"><%= title %></H1>
        <P style="color: #FFFFFF;font-style: Arial; font-weight: 900"> NÃO PERCA TEMPO!!! SEJA O PRIMEIRO A EXPERIMENTAR O NOVO CHATBOT CRIADO PARA A 
          NOSSA FACULDADE. BASTA <a href="/watson.html">CLICAR AQUI</a>.</P>        
    </BODY> 
</HTML>