<!DOCTYPE html>
<HTML>
    <HEAD>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </HEAD> 
    <BODY>
        <H1 style="color:#FFFFFF; font-style: italic;"><%= title %></H1>
        <P style="color: #FFFFFF;font-style: Arial; font-weight: 900"> NÃO PERCA TEMPO!!! SEJA O PRIMEIRO A EXPERIMENTAR O NOVO CHATBOT CRIADO PARA A 
          NOSSA FACULDADE. BASTA <a href="https://assistant-us-south.watsonplatform.net/us-south/crn:v1:bluemix:public:conversation:us-south:a~2F2f6f0c279bd3497d86a7da7946f683cd:d9b8f747-03f1-4767-8478-d19d133b9e6a::/workspaces/365cd98a-c82b-4af1-b03b-b26216d5237e/build/intents">CLICAR AQUI</a>.</P>        
    </BODY> 
</HTML>